{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel - Contact{% endblock %}

{% block body %}
 <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
			<h2 class="myH2">Contactez-moi</h2>
			<p class="myP">Vous pouvez directement m'envoyer un mail</p>
			<p class="myP">Je m'appelle Cédric </p>
			<p class="myP">Développeur web spécialisé en Symfony</p>
			<p class="myP">Limoges</p>
				<p class="myP">
				jpajdnpicpinze
			</p>
    </div>
	<div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
			<h2 class="myH2">Vous pouvez aussi me joindre via </h2>
			<p class="myP">logo LinkedIn</p>
			<p class="myP">GitHub</p>
			<p class="myP">Twitter</p>
		
    </div>
{% endblock %}
