{% extends 'base.html.twig' %}

{% block title %}Portfolio Cedric Mangel{% endblock %}

{% block body %}
<div style="height: 1000px">
	<h2 class="myH2">Hello World !</h2>
	<br>
	<p class="presa myP">Bienvenue sur mon portfolio !</p>
	<p class="presa myP">Je m'appelle Cédric <br> Développeur web spécialisé en Symfony à Limoges.</p>
	<br>
	<p class="section myP">Qui suis-je?</p>
	<br>
	<p class="myP">
		J'ai toujours été attiré par le monde du web et des nouvelles technologies en général.
	</p>
	<p class="myP">
		C'est pourquoi, après 10 années passées dans le commerce, j'ai entamé une reconversion.
	</p>
	<p class="myP">
		Je me suis donc tourné vers une formation pour devenir développeur web et web mobile avec l’ 
		<a class="school" href="https://oclock.io" target="blank">École O’Clock</a> (certifiée 
		<a class="gen" href="https://www.grandeecolenumerique.fr" target="blank">Grande Ecole du Numérique</a>).
	</p>
	<p class="myP">
		Aujourd'hui j'aspire à m’épanouir dans ce domaine si passionnant et en constante évolution. <br> En effet,
		curieux de nature, j'apprécie particulièrement à chercher l'information, me documenter et mettre en place les
		notions découvertes. <br> Par ailleurs, mon expérience passée fait que le travail en équipe est une seconde
		nature chez moi tout en gardant une certaine autonomie.
	</p>
	<br>
</div>

<div class="footer_link">
	{% for link in links|slice(0,4) %}
	{% set img = 'uploads/'~ link.image %}
	<a href="{{ link.linkurl }}" target="blank"><img class="link_image" src="{{ img|imagine_filter('fixed_filter') }}" alt="{{ link.image }}" /></a>
	{% endfor %}
</div>
{% endblock %}