{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel - Ma formation{% endblock %}

{% block body %}
<div style="height: 1000px">
	<h2 class="myH2">Mon parcours</h2>
		<p class="section myP">Formation</p>
			<div class="myP">
				<li class="cv_title">Certification <a class="opquast"href="https://wwww.opquast.com/fr/" target="blank">OpQuast</a></li>
					<ul>
						<li>Obtenu en Février 2021, valide jusqu'en Février 2026</li>
						<li>Score 840/1000 => Niveau avancé</li>
						<li><a class="opquast"href="https://directory.opquast.com/fr/certificat/CG8FLR/" target="blank">Voir le certificat</a></li>
					</ul>
				<li class="cv_title">Titre Professionnel Developpeur Web et Web Mobile, en cours d'obtention</li>
					<ul>
						<li>Niveau 5, équivalent à Bac +2</li>
						<li><a class="school" href="https://oclock.io" target="blank">Ecole O’Clock</a></li>
						<li>Formation en téléprésentiel - Labellisée Grande Ecole du Numérique</li>
						<li>700 heures intensives</li>
						<li>3 mois de socle</li>
						<li>1 mois de spécialisation : Symfony</li>
						<li>1 mois de projet : Journal d'apothéose</li>
					</ul>
				<li class="cv_title">DUT Techniques de commercialisation</li>
					<ul>
						<li>IUT de Limoges</li>
						<li>Juin 2008</li>
					</ul>
			</div>

		<p class="section myP">Expérience</p>
			<div class="myP">
				<li class="cv_title">Developpeur web back-end</li>
					<ul>
						<li>Ecole O'Clock</li>
						<li>Décembre 2020</li>
						<li>Projet de fin d'étude (Conception de A à Z d'une app web) en 15 jours</li>
						<li>Développement back-end de l'application</li>
						<li>Equipe de 4 développeurs (2 front, 2 back) organisation en méthodologie Agile</li>
						<li>Rôle de Lead Dev Back et Scrum Master</li>
						<li>4 semaines intensives</li>
						<li>Journal de bord pour préparation au titre pro et et au projet de fin d'étude pour les futurs étudiants</li>
						<li><a class="youtube" href="https://www.youtube.com/watch?v=1zFkeA-Gzek&t=1280s" target="blank">Vidéo de la présentation sur YouTube</a></li>
					</ul>
				<li class="cv_title">Commercial B to B</li>
					<ul>
						<li>Entreprise Dumonteil</li>
						<li>Janvier 2020 - Mars 2020</li>
						<li>Vente de solution d'impression et de gestion electronique de documents</li>
						<li>Prospection, rédaction offres commeriales, négociation </li>
						<li>Fidélisation de la clientèle</li>
					</ul>
				<li class="cv_title">Conseiller de vente puis Responsable magasin</li>
					<ul>
						<li>Bouygues Télécom - Limoges Boisseuil</li>
						<li>Novembre 2010 - Janvier </li>
						<li>Management d'une équipe commerciale</li>
						<li>Respect des objectifs quantitatifs et qualitatifs</li>
						<li>Gestion administratives</li>
						<li>Accueil, conseil, vente de servces mobile et fixe aux particuliers et professionnels</li>
						<li>Atteinte des objectifs personnels et magasin</li>
					</ul>
			</div>

{% endblock %}
