{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel - Ma formation{% endblock %}

{% block body %}
<div style="height: 1000px">
			<h2 class="myH2">Mon parcours</h2>
			<p class="myP">Bienvenue sur mon portfolio</p>
{% endblock %}
