{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<div style="height: 1000px">
    <h2 class="myH2">Mes réalisations</h2>
    <div class="card myP">
    {% for project in projects %}
        <div class="singleCard">
            <h5> {{ project.name }} </h5>
            <p>{{ project.description }}</p>
        </div>
          
    {% endfor %}
</div>
{% endblock %}
