{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel{% endblock %}

{% block body %}
<div style="height: 800px">
    <h2 class="myH2">OUPS!</h2>
    <br>
    <p class="page404 myP">&#129318; Il semblerait que la page demandée n'existe pas encore! &#128078; &#128078;</p>
    <p class="page404 myP">Peut-être qu'elle est encore en developpement ... Ou pas! &#129335;</p>
    <br>
    <img class="page404_image" src="https://media.giphy.com/media/jCgSyupxRfS0M/source.gif" alt="gif404">
</div>
{% endblock %}