{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel{% endblock %}

{% block body %}
<div style="height: 800px">
    <h2 class="myH2">OUPS!</h2>
    <div class="page404_image">
        <p class="logo404 myP"> <span class="number404">4</span><code class="chevrons">&#60;/&#62;</code><span
                class="number404">4</span></p>
        <div class="codesnippet">
            <p class="myP"><code><span class="snippet_public">public function</span> <span
                        class="snippet_method">error404</span> <span class="snippet_syntax">() { <br> echo</span> <span
                        class="snippet_echo">"page not found";</span> <br><span class="snippet_syntax">}</span> </code>
            </p>
        </div>
    </div>
    <br>
    <p class="page404 myP">&#129318; Il semblerait que la page demandée n'existe pas encore! &#128078; &#128078;</p>
    <p class="page404 myP">Peut-être qu'elle est encore en developpement ... Ou pas! &#129335;</p>
    <br>

</div>
{% endblock %}