{% apply inline_css %}
<style>
    body {
        font-family: helvetica, sans-serif
    }

    h3 {
        color: #0AC3A7;
        font-size: x-large;
        text-align: center;
        text-transform: uppercase;
        padding-top: 1em;
    }

    p {
        padding-left: 2em;
    }

    .mail {
        font-style: italic;
        padding-left: 2em;
        padding-bottom: 2em;
    }
</style>

<body>

    <h3>{{ username }} viens de t'envoyer un message !</h3>

    <p>{{ text }}</p>

    <p class="mail">Vous pouvez lui répondre directement via {{ useremail }}</p>

</body>

{% endapply %}