{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel - Ma formation{% endblock %}

{% block body %}
<div style="height: 1000px">
	<h2 class="myH2">Mon parcours</h2>
	<p class="myP">Ici vous trouverez mon parcours professionnel ainsi que mes diplômes. Vous pouvez aussi directement
		télécharger mon CV <a class="cv" href="{{path('cv')}}" target="_blank">ici.</a> </p>
	<br>
	<p class="section myP">Formation</p>
	<div class="myP">
		<li class="cv_title"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Certification <a
				class="opquast" href="https://wwww.opquast.com/fr/" target="_blank">OpQuast</a></li>
		<ul>
			<li class="formation_li">Obtenu en Février 2021, valide jusqu'en Février 2026</li>
			<li class="formation_li">Score 840/1000 => Niveau avancé</li>
			<li class="formation_li"><a class="opquast" href="https://directory.opquast.com/fr/certificat/CG8FLR/"
					target="_blank">Voir le certificat</a></li>
		</ul>
		<li class="cv_title"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Titre Professionnel
			Developpeur Web et Web Mobile</li>
		<ul>
			<li class="formation_li">Obtenu en Février 2021</li>
			<li class="formation_li">Niveau 5, équivalent à Bac +2</li>
			<li class="formation_li"><a class="school" href="https://oclock.io" target="_blank">École O’Clock</a></li>
			<li class="formation_li">Formation en téléprésentiel - Labellisée Grande École du Numérique</li>
			<li class="formation_li">700 heures intensives</li>
			<li class="formation_li">3 mois de socle</li>
			<li class="formation_li">1 mois de spécialisation : Symfony</li>
			<li class="formation_li">1 mois de projet : Journal d'apothéose</li>
		</ul>
		<li class="cv_title"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> DUT Techniques de
			commercialisation</li>
		<ul>
			<li class="formation_li">IUT de Limoges</li>
			<li class="formation_li">Juin 2008</li>
		</ul>
	</div>
	<br>
	<p class="section myP">Expérience</p>
	<div class="myP">
		<li class="cv_title"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Developpeur web back-end</li>
		<ul>
			<li class="formation_li">École O'Clock</li>
			<li class="formation_li">Décembre 2020</li>
			<li class="formation_li">Projet de fin d'étude (Conception de A à Z d'une app web) en 15 jours</li>
			<li class="formation_li">Développement back-end de l'application</li>
			<li class="formation_li">Équipe de 4 développeurs (2 front, 2 back) organisation en méthodologie Agile</li>
			<li class="formation_li">Rôle de Lead Dev Back et Scrum Master</li>
			<li class="formation_li">4 semaines intensives</li>
			<li class="formation_li">Journal de bord pour préparation au titre pro et et au projet de fin d'étude pour
				les futurs étudiants</li>
			<li class="formation_li"><a class="youtube" href="https://www.youtube.com/watch?v=1zFkeA-Gzek&t=1280s"
					target="_blank">Vidéo de la présentation sur YouTube</a></li>
		</ul>
		<li class="cv_title"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Commercial B to B</li>
		<ul>
			<li class="formation_li">Entreprise Dumonteil</li>
			<li class="formation_li">Janvier 2020 - Mars 2020</li>
			<li class="formation_li">Vente de solution d'impression et de gestion electronique de documents</li>
			<li class="formation_li">Prospection, rédaction offres commeriales, négociation </li>
			<li class="formation_li">Fidélisation de la clientèle</li>
		</ul>
		<li class="cv_title"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Conseiller de vente puis
			Responsable magasin</li>
		<ul>
			<li class="formation_li">Bouygues Télécom - Limoges Boisseuil</li>
			<li class="formation_li">Novembre 2010 - Janvier </li>
			<li class="formation_li">Management d'une équipe commerciale</li>
			<li class="formation_li">Respect des objectifs quantitatifs et qualitatifs</li>
			<li class="formation_li">Gestion administratives</li>
			<li class="formation_li">Accueil, conseil, vente de servces mobile et fixe aux particuliers et
				professionnels</li>
			<li class="formation_li">Atteinte des objectifs personnels et magasin</li>
		</ul>
	</div>

	{% endblock %}