
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}

/* Home section */
.home {
    width: 100%;
    height: 85vh;
    background-image: url(../images/macos.jpg);
    background-position: center top;
	background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Media query section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
    line-height: 1.5em;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}
.formation_li {
    list-style-type: square;
}
.presa {
    font-size: 2.3em;
}
.section {
    font-weight: bold;
}
.section {
    font-size: 2.7em;
    text-decoration: underline;
}
.school, .gen, .opquast, .youtube, .cv {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.school:hover, .gen:hover, .opquast:hover, .youtube:hover, .cv:hover {
    color: #00E676;
}
.school:visited, .gen:visited, .opquast:visited, .youtube:visited, .cv:visited {
    color: dimgrey;
}
.cv_title {
    font-weight: bold;
    list-style-type: none;
}
.singleCard {
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    box-shadow: rgb(161, 160, 160) 1px 1px 15px;
    border-radius: 1em;
}
.singleCard:hover {
    box-shadow:  rgb(161, 160, 160) 1px 1px 30px;
    transition: 0.5s;
    /* background-color: #78cdfb; */
    /* border: 1px solid rgb(117, 116, 116); */
}
.container.card.myP{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.8em;
}
.singleSkillCard {
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    box-shadow: rgb(161, 160, 160) 1px 1px 15px;
    border-radius: 1em;
    width: 20%;
}
.singleSkillCard:hover {
    box-shadow:  rgb(161, 160, 160) 1px 1px 30px;
    transition: 0.5s;
    /* background-color: #78cdfb; */
    /* border: 1px solid rgb(117, 116, 116); */
}

.skill_image {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.project_link {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}
.project_link:hover {
    /* text-decoration: underline; */
    color: #00E676;
}
.project_link:visited{
    color:dimgrey;
}

.mail {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
}
.emailadress {
    height: 2em;
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    border: 1px solid lightgrey;
}
.emailadress:hover {
    box-shadow:  rgb(161, 160, 160) 1px 1px 10px;
    transition: 0.5s;
}
.textarea {
    width: 100%;
    height: 200px;
    box-shadow: rgb(161, 160, 160) 1px 1px 5px;
    border-radius: 0.3em;
    border: none;
    margin-top: 1em;
}
.textarea:hover {
    box-shadow:  rgb(161, 160, 160) 1px 1px 30px;
    transition: 0.5s;
}
.submit {
    height: 3em;
    width: 20%;
    font-family: "Quicksand", sans-serif;
    font-size: 0.7em;
    font-weight:bold;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 0.5em;
    border: 1px solid lightgrey;
    background-color: white;
}
.submit:hover {
    box-shadow:  rgb(161, 160, 160) 1px 1px 10px;
    transition: 0.5s;
}

.footer_link {
    margin-top: 15em;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.link_image {
    width: 30%;
    margin-bottom: 2em;
}

.footer{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 1.3em;
}
.legal_mentions {
    font-family: "Quicksand", sans-serif;
    margin-left: 6em;
    margin-right: 6em;
    padding-bottom: 3em;
}
.legal_title {
    font-size: 2em;
}
.legal_subtitle {
    font-size: 1.8em;
}
.legalP {
    font-size: 1.5em;
}